table,th,td { border:2px solid red;color: azure;}
body {background-image: url(https://static.stereogum.com/uploads/2016/06/rhcp-scaled.jpg); height: fit;}
h1 {color: crimson; font-size: 85px;}
p {color: white;}

